html {
    scroll-behavior: smooth;
}
body {
    /* margin: 10px 50px 0 50px;      */
    /* padding: 6vh 14.3vw 0 14.3vw; */
    padding: 6vh 10vw 0 10vw; 
    font-family: Arial, sans-serif;
    /* line-height: 1.6; */
    background-image: url('nrao.jpg'); /* Path to your image */
    opacity: 0.9;
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: calc(50% - 0px) center; /* Centers the image in the header */
    /* background-repeat: no-repeat; */
    /* background-color: #628395; */
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    font-family: 'Poppins', sans-serif; 
    background-color: white;
}

.header {
    font-family: 'Poppins', sans-serif;
    background-image: url('reionization_90.png'); /* Path to your image */
    opacity: 1;
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: calc(50% - 0px) center; /* Centers the image in the header */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: #ffffff; /*Adjust text color for better contrast */
    padding: 50px; /* Adjust padding to control header size */
}

.header h1 {
    font-size: 5.5vh;
    margin-top: 0vh;
    text-align: center;
    font-weight: 600;
}
.white-text{
    color: white;
}
.red-text {
    color: yellow;
}

.date {
    margin-top: -1.5vh; /* Adjust space above */
    margin-bottom: 0vh; /* Adjust space below */
    font-size: 4.2vh;
    text-align: center;
    font-weight: 900;
    font-family: 'Bebas Neue';
    color: black;
}
.location1{
    margin-top: 1vh; /* Adjust space above */
    margin-bottom: 0vh; /* Adjust space below */
    font-size: 3.5vh;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-family: 'Gill Sans';
}

.location2 {
    margin-top: 1vh; /* Adjust space above */
    margin-bottom: 0vh; /* Adjust space below */
    font-size: 3.5vh;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-family: 'Gill Sans';
}

.navbar {
    display: flex;
    /* align-items: center; */
    justify-content:center;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    overflow: hidden;
    list-style: none;
    top: 0;
    left:0;
    right:0;
    padding: 0;
    text-align: center;
}

/* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
} */

.navbar .logo img {
     max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

#navbarLogo {
    opacity: 0;
    width: 50px;
    height: 50px;
}

.navbar a {
    font-family: 'Poppins', sans-serif;
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: #ffffff; /*White text color */
    text-align: center; /* Center the text */
    padding: 2vh 3.6vh; /* Add some padding */
    text-decoration: none; /* Remove underline */
    font-weight: 600;
}

main {
    font-family: 'Poppins', sans-serif;
    padding: 4vh;
    font-size: 2.1vh;
}

.sec1{
    color: black;
    text-align: left;
    font-size: 2.2vh;
}

.c1{
    text-align: center;
}
.c2{
    text-align: center;
}
.c3{
    text-align: center;
}
.c5{
    font-size: medium;
    font-weight: normal;
}
.points{
    text-align: center;
}
.points2{
    text-align: center;
    /* padding-left: 14vh; */
    font-size: 2.6vh;
}
.points ul{
    list-style-type: circle; /* Default bullet style */
    padding-left: 17vh;
    font-size: 2.1vh;
    text-align: left;
    /* text-align: center; */
}
.points li {
    margin-bottom: 1.5vh; /* Adds space between each bullet point */
    color: black; /* Text color */
    font-family: 'Poppins', sans-serif; /* Font style */
    font-size: 2.4vh;
}
